<div class='row'>
  <div class='large-11 columns text-center'>
    <ul>
      <h1 class='text-center'>Users</h1>
      <% @users.each do |user| %>
        <h3><%= link_to user.name, user %></h3>
      <% end %>
      <h3><%= link_to 'Add New User', new_user_path %></h3>
    </ul>
  </div>
</div>
