<div class='row'>
  <div class='large-11 columns'>
    <ul>
      <% @posts.each do |post| %>
        <h2 class='text-center'><%= link_to post.title, post_path(post) %></h2>
        <h4 class='text-center'><%= "Written by #{post.user.name}"  %></h2>
        <p><%= Markdown.new(post.content).to_html.html_safe %></p>
      <% end %>
    </ul>
  </div>
</div>
