<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="large-11 columns">
    <h2 class='text-center'><%= link_to  @post.title, post_path(@post) %></h2>
    <h4 class='text-center'><%= "Written by #{@post.user.name}"  %></h2>
    <p><%= @post.content.html_safe %></p>
  </div>
</div>
