// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// We use these to control header font styles

html {
  font-family: 'OpenSans-Regular';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Stratum2-Bold';
  text-transform: uppercase;
}
